<?php

# Settings
$settings = array (
	'applicationName' => 'Widget spheres',
	'username' => 'my_username',
	'password' => 'my_password',
	'maptilerApiKey' => 'my_key',
);

# Load and run the application with the above settings
require_once ('vendor/autoload.php');
new panoramaStoryMap ($settings);

?>
